apiVersion: v1
kind: Secret
metadata:
  name: vra-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://vra.url",
      "refresh_token": "my-passw0rd",
      "insecure": "false"
    }
